#container{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
}
h1{
    background-color: #008cffa1;
    padding: 20px;

    text-align: center;
}
#btn{
    margin-top: 20px;
    margin-left: 600px;
    padding: 15px;
    padding-left: 10;
    border-radius: 5px;
    background-color:#008cffa1 ;
    

}
#btn2{
    margin-top: 20px;
    
    padding: 15px;
    padding-left: 10;
    border-radius: 5px;
    background-color:#008cffa1 ;
    
}